<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHkLgzKmSVHOKNPBlUS5Bi5t4wN7qqDEo</string>
	<key>GCM_SENDER_ID</key>
	<string>268108175474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.resipal.security</string>
	<key>PROJECT_ID</key>
	<string>resipal-dev-3aacf</string>
	<key>STORAGE_BUCKET</key>
	<string>resipal-dev-3aacf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268108175474:ios:06e022e04396dbcbda4aeb</string>
</dict>
</plist>